NEXT_PUBLIC_SUPABASE_URL=https://duwekongedkccrrsnvtl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VyuJByJTMvz-SuZhc-lu7w_VbELsDQE
NEXT_PUBLIC_SITE_URL=https://blink-eqad.onrender.com
